[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==9.0.1"
click = "==8.0.1"
colorama = "==0.4.4"
coverage = "==5.5"
faker = "==14.0.0"
flask = "==1.1.2"
flask-cors = "==3.0.10"
flask-jwt = "==0.2.0"
flask-jwt-extended = "==4.2.3"
flask-restful = "==0.3.9"
flask-sqlalchemy = "==2.5.1"
greenlet = "==1.1.0"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.1"
markupsafe = "==2.0.1"
marshmallow = "==3.12.1"
marshmallow-sqlalchemy = "==0.25.0"
pyjwt = "==2.1.0"
pytz = "==2021.1"
six = "==1.16.0"
sqlalchemy = "==1.4.15"
werkzeug = "==2.0.1"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
